#MainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(226, 226, 226);
    background-size: 160px 160px;

    padding: 2vmin;
}

#MainPage section {
    display: grid;
    place-content: center;
    align-items: center;
    gap: 2vmin;
    padding: 5vmin;
    min-height: 0vh;
    grid-template-columns: 50% 50%;
    min-width: 100%;
    min-width: 100%;
}

@media screen and (max-width: 600px) {
    #MainPage section {
        display: flex;
        padding: 4vmin;
        flex-direction: column;
    } 
}

#MainPage #FirstSection {
    border-bottom: 1vmin solid black;
}

#MainPage section video {
    display: flex;
    outline: 0.5vmin black solid;

    width: 90%;
    align-self: center;
}